.visibilityHidden {
  opacity: 0;
}
.table-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  color: #000;
  margin-bottom: 50px;
}
.table-content .title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'lg_smartbold_italic';
  margin-top: 20px;
}
.table-content .subtitle {
  font-size: 28px;
  font-weight: 700;
  font-family: 'lg_smartbold_italic';
  margin-top: 40px;
}
.table-responsive {
  border: none;
}
.table-header {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 3px solid #000;
  position: relative;
}
.table-header .title {
  font-size: 50px;
  font-family: 'lg_smartbold_italic';
  color: #000;
  vertical-align: bottom;
  line-height: 35px;
  padding-left: 10px;
}
.table-header .caption {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.table-header .caption span {
  margin-left: 10px;
  font-size: 12px;
}
.table-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  box-sizing: border-box;
  overflow: auto;
}
.table-info {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  z-index: 9999;
  text-align: center;
  min-width: 560px;
  margin-bottom: 20px;
}
.table-info thead {
  background-color: #a40735;
  color: #fff;
  text-transform: uppercase;
}
.table-info thead th {
  text-align: center;
  border: 1px solid #fff;
}
.table-info thead .text-left {
  text-align: left;
}
.table-info tbody:before {
  content: " ";
  display: block;
  height: 2px;
  color: transparent;
}
.table-info tbody td {
  border: 1px solid #000;
}
.table-info .thumb {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: #d1d1d1;
  vertical-align: middle;
  margin-right: 10px;
}
.table-info .warning {
  color: #c20e3a;
}
.table-info th,
.table-info td {
  padding: 4px 8px;
}
.table-info td:first-child {
  width: 48px;
}
.table-info.focus tbody td {
  border: 2px solid #c20e3a;
  padding: 2px 8px;
}
.table-info.focus tbody:before {
  content: none;
}
@media only screen and (max-width: 979px) {
  .table-content {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .table-content .title,
  .table-content .subtitle {
    padding-top: 10px;
  }
  .table-container {
    padding: 10px;
  }
  .table-header {
    margin-top: 0;
  }
  .table-header .caption span {
    display: block;
  }
}
.tabs-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  color: #000;
  margin-bottom: 50px;
}
.tabs-header {
  padding-bottom: 5px;
  border-bottom: 3px solid #000;
  position: relative;
}
.tabs-header .title {
  font-size: 50px;
  font-family: 'lg_smartbold_italic';
  color: #000;
  vertical-align: bottom;
  line-height: 35px;
  padding-left: 10px;
  margin-top: 20px;
}
.tabs-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  box-sizing: border-box;
  overflow: auto;
  display: none;
}
.tabs-container.active {
  display: block;
}
.tabs-container .title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'lg_smartbold_italic';
  margin-top: 20px;
}
.tabs-container .table-info a,
.tabs-container .table-info a:hover,
.tabs-container .table-info a:focus {
  text-decoration: underline !important;
  color: #000;
}
.tabs-container .table-info a span,
.tabs-container .table-info a:hover span,
.tabs-container .table-info a:focus span {
  color: #000;
}
.tabs-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
.tabs-nav li {
  list-style: none;
  display: inline-block;
}
.tabs-nav li.active span,
.tabs-nav li:hover span {
  background-color: #a40735;
}
.tabs-nav span {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 30px;
  background-color: #000;
  font-size: 16px;
  font-family: 'lg_smartbold';
  letter-spacing: 1px;
  transition: 0.3s ease-out;
  display: block;
}
.info-pagination {
  text-align: right;
}
.info-pagination li {
  list-style: none;
  display: inline-block;
}
.info-pagination li.active span,
.info-pagination li:hover span {
  color: #c20e3a;
}
.info-pagination li span {
  margin: 0 2px;
  color: #000;
  cursor: pointer;
}
.info-pagination li .next,
.info-pagination li .prev {
  cursor: pointer;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.info-pagination li .next {
  border-left: 5px solid #c20e3a;
}
.info-pagination li .prev {
  border-right: 5px solid #c20e3a;
}
.slider-content {
  max-width: 1140px;
  color: #000;
  margin: 0 auto 50px auto;
  padding-right: 300px;
  padding-top: 150px;
  position: relative;
}
.slider-content .conts-text {
  max-width: 280px;
  position: absolute;
  top: 150px;
  right: 10px;
}
.slider-content .conts-text button {
  display: block;
  margin: 5px auto;
}
.slider-content .slider-header,
.slider-content .slider-tabs {
  margin: 0 45px;
}
.slider-header {
  padding-bottom: 5px;
  position: relative;
}
.slider-header .title {
  font-size: 50px;
  font-family: 'lg_smartbold_italic';
  color: #000;
  vertical-align: bottom;
  line-height: 35px;
  padding-left: 10px;
  margin-top: 20px;
}
.slider-tabs {
  text-align: left;
  padding: 0 10px;
  margin-top: 10px;
}
.slider-tabs li {
  list-style: none;
  display: inline-block;
  margin: 0 1px;
}
.slider-tabs li.active span,
.slider-tabs li:hover span {
  background-color: #a40735;
}
.slider-tabs span {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 30px;
  background-color: #000;
  font-size: 12px;
  line-height: 12px;
  font-family: 'lg_smartbold';
  letter-spacing: 1px;
  transition: 0.3s ease-out;
  display: block;
}
.slider-disclaimer {
  color: #c20e3a;
  font-size: 10px;
  padding-left: 10px;
  margin: 20px 45px 5px 45px;
}
.slider-container {
  padding: 20px 10px;
  box-sizing: border-box;
  position: relative;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  margin: 0;
}
.slider-container .group-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.slider-container .group-arrow span {
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  height: 68px;
  width: 44px;
  position: absolute;
  top: -34px;
  cursor: pointer;
}
.slider-container .group-arrow .next {
  background-position: -44px 0;
  right: 10px;
}
.slider-container .group-arrow .prev {
  left: 10px;
}
@media only screen and (max-width: 768px) {
  .slider-content {
    padding-right: 0;
  }
  .slider-content .conts-text {
    position: static;
    max-width: none;
    padding: 0 10px;
  }
  .slider-container {
    padding: 20px 10px;
  }
}
.home-content {
  max-width: 440px;
  width: 100%;
  margin: 35px auto 20px auto;
  text-align: center;
  z-index: 1;
}
.home-content hgroup .big {
  font-size: 63px;
}
.home-content p {
  font-size: 21px;
}
.temp {
  height: 440px;
  display: none;
  background-repeat: no-repeat;
  background-size: 233px 30px;
  transition: 0.3s ease-out;
}
.temp.active {
  display: block;
}
.temp .img-temp {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
}
.temp .img-text {
  position: absolute;
  color: #343434;
  font-size: 17px;
  line-height: 14px;
  width: 100%;
}
.temp .img-text .title {
  text-transform: uppercase;
  font-family: 'lg_smartbold_italic';
  margin: 4px 0;
}
.temp .img-text .item-text {
  font-family: 'lg_smartregular_italic';
}
.temp .img-wrapper {
  margin: 0 auto;
  position: relative;
}
.temp .img-wrapper img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.temp .btn-more {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../images/awards/btn-more.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.temp.temp1 {
  background-image: url("../images/awards/ribb-01.png");
  background-position: center 47%;
}
.temp.temp1 .img-wrapper {
  max-width: 182px;
}
.temp.temp1 .btn-aux-1 {
  top: 55px;
  left: 0;
}
.temp.temp1 .btn-aux-2 {
  top: 55px;
  right: 0;
}
.temp.temp2 {
  background-image: url("../images/awards/ribb-02.png");
  background-position: 75% 40%;
}
.temp.temp2 .img-wrapper {
  max-width: 427px;
}
.temp.temp2 .btn-aux-1 {
  top: 110px;
  left: 30px;
}
.temp.temp2 .btn-aux-2 {
  top: 30px;
  right: 80px;
}
.temp.temp3 {
  background-image: url("../images/awards/ribb-03.png");
  background-position: 90% 2.5%;
}
.temp.temp3 .img-wrapper {
  max-width: 575px;
}
.temp.temp3 .btn-aux-1 {
  top: 50px;
  right: 290px;
}
.temp.temp3 .btn-aux-2 {
  bottom: 90px;
  right: 120px;
}
.temp.temp4 {
  background-image: url("../images/awards/ribb-04.png");
  background-position: 85% 35%;
}
.temp.temp4 .img-wrapper {
  max-width: 402px;
}
.temp.temp4 .btn-aux-1 {
  bottom: 90px;
  left: 35px;
}
.temp.temp4 .btn-aux-2 {
  top: 60px;
  left: 200px;
}
.temp.temp4 .btn-aux-3 {
  bottom: 120px;
  right: 60px;
  zoom: 0.8;
}
.toggle-info:checked + .img-text,
.toggle-info:checked + .awards-text {
  display: block;
}
.temp1 .text-aux-1 {
  top: 45%;
  right: 100%;
  max-width: 250px;
  text-align: right;
}
.temp1 .text-aux-2 {
  top: 5%;
  left: 105%;
  width: 250px;
  text-align: left;
}
.temp2 .text-aux-1 {
  top: 70%;
  right: 80%;
  max-width: 320px;
  text-align: right;
}
.temp2 .text-aux-2 {
  top: 35%;
  left: 85%;
  width: 250px;
  text-align: left;
}
.temp3 .text-aux-1 {
  top: 20%;
  right: 55%;
  max-width: 250px;
  text-align: right;
}
.temp3 .text-aux-2 {
  bottom: 20%;
  left: 80%;
  width: 320px;
  text-align: left;
}
.temp4 .text-aux-1 {
  bottom: 10%;
  right: 100%;
  max-width: 250px;
  text-align: right;
}
.temp4 .text-aux-2 {
  top: 0%;
  left: 55%;
  width: 250px;
  text-align: left;
}
.temp4 .text-aux-3 {
  bottom: 10%;
  left: 100%;
  width: 250px;
  text-align: left;
}
.awards-expo {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -1;
}
.awards-expo .disclaimer-expo {
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  position: absolute;
  bottom: -25px;
  padding-left: 30px;
  text-shadow: 0 0 2px #000;
  font-family: 'lg_smartregular';
}
.awards-expo .awards-wrapper {
  margin-bottom: 25px;
  width: 100%;
  max-width: 1100px;
  position: relative;
}
.awards-expo .awards-wrapper img {
  width: 100%;
}
.awards-expo .awards-wrapper label {
  display: block;
  margin-bottom: 0;
}
.awards-expo .awards-text {
  padding: 0 15px;
  background-color: #000;
  color: #fff;
  font-family: 'lg_smartbold_italic';
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
}
.awards-expo .awards-text:after {
  content: " ";
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
}
.awards-expo .awards-text.tld:after {
  left: 25px;
  bottom: -10px;
  border-top-color: #000;
}
.awards-expo .awards-text.tlu:after {
  left: 25px;
  top: -10px;
  border-bottom-color: #000;
}
.awards-expo .awards-text.trd:after {
  right: 25px;
  bottom: -10px;
  border-top-color: #000;
}
.awards-expo .awards-text.tru:after {
  right: 25px;
  top: -10px;
  border-bottom-color: #000;
}
.awards-expo .btn-more {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../images/awards/btn-more.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}
@media only screen and (max-width: 1140px) {
  .awards-expo {
    position: relative;
    margin-bottom: 45px;
  }
  .awards-expo .disclaimer-expo {
    position: relative;
    bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  .awards-expo {
    margin-bottom: 25px;
  }
  .awards-expo .awards-wrapper {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .awards-expo .awards-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .home-content img {
    width: 100%;
  }
}
@media only screen and (max-height: 768px) {
  .awards-expo {
    position: relative;
    margin-bottom: 30px;
  }
  .awards-expo .awards-text {
    font-size: 12px;
  }
}
.awards-wrapper .awb-01 {
  top: 5%;
  left: 5%;
}
.awards-wrapper .awt-01 {
  top: -5%;
  left: 3.2%;
}
.awards-wrapper .awb-02 {
  top: 8%;
  left: 25%;
}
.awards-wrapper .awt-02 {
  top: 20%;
  left: 23.2%;
}
.awards-wrapper .awb-03 {
  top: 50%;
  left: 42.5%;
}
.awards-wrapper .awt-03 {
  top: 40%;
  left: 27%;
}
.awards-wrapper .awb-04 {
  bottom: 15%;
  left: 49.7%;
}
.awards-wrapper .awt-04 {
  bottom: 6%;
  left: 48%;
}
.awards-wrapper .awb-05 {
  bottom: 46%;
  left: 57.5%;
}
.awards-wrapper .awt-05 {
  top: 37%;
  left: 48.5%;
}
.awards-wrapper .awb-06 {
  bottom: 25%;
  right: 32%;
}
.awards-wrapper .awt-06 {
  bottom: 35%;
  right: 15.5%;
}
.awards-wrapper .awb-07 {
  bottom: 24%;
  right: 19%;
}
.awards-wrapper .awt-07 {
  bottom: 14.5%;
  right: 14%;
}
.awards-wrapper .awb-08 {
  bottom: 38%;
  right: 9%;
}
.awards-wrapper .awt-08 {
  bottom: 48%;
  right: 0%;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .awards-wrapper .awards-text:after {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .awards-wrapper {
    margin-bottom: 25px;
  }
  .awards-wrapper .awards-text {
    top: auto;
    right: 15px;
    left: 15px;
    bottom: -20px;
    text-align: center;
  }
  .awards-wrapper .awards-text:after {
    display: none;
  }
}
.backstretch {
  background-image: url("../images/bg-mainDads-LG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
.backstretch img {
  display: none;
}
@media only screen and (max-width: 320px) {
  body {
    display: block;
  }
}
.product-content {
  max-width: 744px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  color: #000;
  margin-bottom: 50px;
}
.product-content hgroup {
  text-align: center;
}
.product-content .lg-Btn {
  text-align: center;
}
.product-figure {
  height: 310px;
  padding: 0 10px;
  position: relative;
  text-align: center;
}
.product-figure img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@-webkit-keyframes intermittent {
  0% {
    background-color: #c20e3a !important;
  }
  50% {
    background-color: #000 !important;
  }
  100% {
    background-color: #c20e3a !important;
  }
}
@keyframes intermittent {
  0% {
    background-color: #c20e3a !important;
  }
  50% {
    background-color: #000 !important;
  }
  100% {
    background-color: #c20e3a !important;
  }
}
