/*LG STYLES CAMPAIGN-DADS CUSTOMS*/
@font-face {
    font-family: 'lg_smartlight';
    src: url('../fonts/LG/LGSmart_Light-webfont.eot');
    src: url('../fonts/LG/LGSmart_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Light-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Light-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Light-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Light-webfont.svg#lg_smartlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartsemibold';
    src: url('../fonts/LG/LGSmart_SemiBold-webfont.eot');
    src: url('../fonts/LG/LGSmart_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.svg#lg_smartsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartbold_italic';
    src: url('../fonts/LG/LGSmart_Bold_Italic-webfont.eot');
    src: url('../fonts/LG/LGSmart_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.svg#lg_smartbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartbold';
    src: url('../fonts/LG/LGSmart_Bold-webfont.eot');
    src: url('../fonts/LG/LGSmart_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Bold-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Bold-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Bold-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Bold-webfont.svg#lg_smartbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartregular_italic';
    src: url('../fonts/LG/LGSmart_Regular_Italic-webfont.eot');
    src: url('../fonts/LG/LGSmart_Regular_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.svg#lg_smartregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lg_smartregular';
    src: url('../fonts/LG/LGSmart_Regular-webfont.eot');
    src: url('../fonts/LG/LGSmart_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Regular-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Regular-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Regular-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Regular-webfont.svg#lg_smartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liquid_crystalbold';
    src: url('../fonts/LIQUID/liquidcrystal-bold-webfont.eot');
    src: url('../fonts/LIQUID/liquidcrystal-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LIQUID/liquidcrystal-bold-webfont.woff2') format('woff2'),
         url('../fonts/LIQUID/liquidcrystal-bold-webfont.woff') format('woff'),
         url('../fonts/LIQUID/liquidcrystal-bold-webfont.ttf') format('truetype'),
         url('../fonts/LIQUID/liquidcrystal-bold-webfont.svg#liquid_crystalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'liquid_crystalbold_italic';
    src: url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.eot');
    src: url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.woff') format('woff'),
         url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/LIQUID/liquidcrystal-bolditalic-webfont.svg#liquid_crystalbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'liquid_crystalregular';
    src: url('../fonts/LIQUID/liquidcrystal-normal-webfont.eot');
    src: url('../fonts/LIQUID/liquidcrystal-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LIQUID/liquidcrystal-normal-webfont.woff2') format('woff2'),
         url('../fonts/LIQUID/liquidcrystal-normal-webfont.woff') format('woff'),
         url('../fonts/LIQUID/liquidcrystal-normal-webfont.ttf') format('truetype'),
         url('../fonts/LIQUID/liquidcrystal-normal-webfont.svg#liquid_crystalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'liquid_crystalregular_italic';
    src: url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.eot');
    src: url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.woff2') format('woff2'),
         url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.woff') format('woff'),
         url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.ttf') format('truetype'),
         url('../fonts/LIQUID/liquidcrystal-normalitalic-webfont.svg#liquid_crystalregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

a, input[type="submit"] { transition: all .4s; color: #3f3f3f; }
a:link, a:visited{ color: #ca1642; }
a:hover, input[type="submit"]:hover{ transition: all .3s; text-decoration: none !important; }
a:active{ transition: all .3s; color: #ca1642; }
.row { margin: 0; }
/*.row div{ outline: 1px solid red; }*/

  /*GENERALS*/
  html,body{height:100%;}
    p{ font-family: 'lg_smartregular_italic'; font-size: 150%; font-weight: 100; }
    a{ color: #da0051; } a:hover{ text-decoration: underline; color: #1a1a1a; }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'lg_smartregular', sans-serif; }
    h1{ font-family: 'lg_smartsemibold', sans-serif; font-size: 45px; color: #da0051;}
    h2{ font-size: 36px; font-family: 'lg_smartregular', sans-serif; color: #da0051; margin: 2px 0 8px; line-height: 1em; }
    h3{ font-size: 30px; font-family: 'lg_smartregular', sans-serif; color: #da0051;  }
    h4{ font-size: 24px; color: #da0051; line-height: 1em; }
    .trnstn, .trnstn *{ -webkit-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
    .col-centered{ float: none; margin: 0 auto; }

    /*CLEARS*/
      .clearfix.visible-xs-block, .clearfix.visible-xs{ display: block !important; }
      .clearfix.visible-md{ display: block !important; visibility: hidden; }
      .clear{ clear: both; }
    /*OFFSET HELPERS*/
      .off-set-0{ margin-top: 0%; }
      .off-set-5{ margin-top: -5%; }
      .off-set-10{ margin-top: -10%; }
      .off-set-15{ margin-top: -15%; }
      .off-set--5{ margin-top: 5%; }
      .off-set--10{ margin-top: 10%; }
      .off-set--12{ margin-top: 12%; }
      .off-set--15{ margin-top: 15%; }
    /*CENTER HELPERS*/
      .vcenter { display: inline-block;  vertical-align: middle;  float: none; }
      .row-full-height { height: 100%; }
      .col-full-height { height: 100%; vertical-align: middle; }
      .row-same-height { display: table; width: 100%; /* fix overflow */ table-layout: fixed; }
      .col-xs-height { display: table-cell; float: none !important; }
      /* vertical alignment styles */
      .col-top { vertical-align: top; }
      .col-middle { vertical-align: middle; }
      .col-bottom { vertical-align: bottom; }
    /*CENTEREDS*/
      .row-centered { text-align:center; }
      .col-centered { display:inline-block;  float:none; text-align:left; margin-right:-4px; }

  /*HEADER*/
  #head-dads{ position: relative; left: 0; right: 0; top: 0px; /*outline: 1px solid #000;*/  z-index: 20; }
  .bg-main{ background-image: url('../images/bg-mainDads-LG.jpg'); background-position:50% 50%;  background-size:cover;
    position:fixed; left:0%; } /*no in use*/
    #lg-main-logo{ position: absolute; right: 15px; top: 15px; z-index: 10; }
    #lg-campaign-headlogo{ position: absolute; left: 35px; top: 0px; z-index: 10; }
    #head-dads .container{ margin: 0; }
    #head-dads .container .row{ /*outline: 1px solid blue;*/ position: relative; height: 100%; }
      #blckbox-campaign{ background-color: #323233; width: 100%; height: 100px; position: relative; display: block; margin-top: 15px; }
  .no-head-stats #blckbox-campaign{ display: none; }
  .is-home #lg-campaign-headlogo{ display: none; }
    #lg-campaign-boxed{ margin-left: 20px; margin-right: 20px; }
    #lg-main-logo img:first-child{ display: none;  }
    #lg-main-logo img{ position: relative; }
    #lg-main-logo img:last-child{ display: block; top: 10px; }
    /*body:not(.is-home)*/ #lg-main-logo{ top: 25px; right: 35px; }
      #lg-main-logo{ top: 15px; }
    .is-home #lg-main-logo img:first-child,  .no-head-stats #lg-main-logo img:last-child{ display: none;  }
    .is-home #lg-main-logo img:last-child, .no-head-stats #lg-main-logo img:first-child{ display: block; }
    /*.no-animated-head .fadeIn{ opacity: 1; }
    .no-animated-head .fadeInDown{ opacity: 1; }*/

      /*BOX CAMPAIGN*/
      #blckbox-campaign{  }
        #blckbox-campaign .row [class*="col-md"]{ /*outline: 1px solid #fff;*/ border-left: 1px solid #fff; height: 100%; }
        #blckbox-campaign .avatars{ position: relative; left: 35px; padding-right: 30px; border-left: 1px solid #fff; height: 100%;  }
        #blckbox-campaign .wrapActions{ height: 100%; }
        #blckbox-campaign .ctas-menu{ padding: 0 5px; }
        /*NAVIGATION*/
        .navsMain{ display: block; text-align: center; padding-top: 6px; }
        .navsMain li{ display: inline-block; width: 48%; margin: 3px 1px; text-align: left; }
          .navsMain li a{ display: block; color: #fff; font-size: 13px; font-family: 'lg_smartlight'; line-height: 13px; padding: 5px 6px; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
          .navsMain li a.enabled{ background-color: #c20e3a; }
          .navsMain li.active a.enabled{ animation: intermittent 2s infinite; background: none; }
            .navsMain li a.enabled:hover{ background-color: #000; }
          .navsMain li a.disabled{ background-color: #4a4a4a; color: #909090; cursor: default; } 

      /*AVATARS*/
      #teamBadgehead{ position: relative; height: 100%; }
      #teamBadgehead h4.full-title-team{ color: #ffffff; font-family: 'lg_smartsemibold'; line-height: 1; text-align: left; display: block; position: absolute; bottom: -5px; left: 0; right: 0; font-size: 12px; text-transform: uppercase;  }
        #teamBadgehead h4.full-title-team span{ text-transform: none; font-style: italic; font-weight: normal; font-family: 'lg_smartregular_italic'; }
      /*BADGE FIGURE HEADER BUILDED*/
        .badge-avatar{ display: inline-block; float: left; position: relative; text-align: center; max-width: 90px; margin-top: 8px; -ms-transform: scale(0.22); -moz-transform: scale(0.25); -webkit-transform: scale(0.22); -o-transform: scale(0.22); transform: scale(0.22); -ms-transform-origin: left top; -webkit-transform-origin: left top; -moz-transform-origin: left top; -o-transform-origin: left top; transform-origin: left top; }
        .badge-avatar img{ width:auto; /*max-width: 70px;*/ position: relative; }
        .badge-avatar figcaption{ position: absolute; /*border: 1px dashed #000;*/ top: 80px; left: 105px; right: 0; display: block; }
          .badge-avatar figcaption h3{ font-family: 'lg_smartbold'; text-align: center; display: block; color: #fff; /*text-shadow: 2px 4px 6px rgba(0,0,0,.2);*/ margin: 0; padding: 0; line-height: 1; padding-top: 0px; position: relative; 
            text-shadow: -3px -3px 0 #000, 1px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; }
        .avatar-net{ position: relative; float: right; text-align: left; margin-top: 7px; margin-bottom: 3px; width: 65%; }
          .avatar-net figcaption{ display: table; padding-top: 0px; height: 25px; line-height: 25px; vertical-align: middle;  }
            .avatar-net figcaption span{ font-size: 12px; color: #fff; line-height: normal;  display: table-cell; vertical-align: middle;  font-family: 'lg_smartlight', sans-serif; letter-spacing: 0px; text-transform: uppercase; }
          .avatar-net .picNet{ position: relative; display: inline-block; float: left; max-width: 25px; overflow: hidden; margin-right: 10px; max-height: 25px; }
        #teamBadgehead figure.avatar-net.first-avatar{ margin-top: 12px; }

      /*COUNTER*/
      .counter{ position: relative; padding: 10px 15px; border-right: 1px solid #fff;  }
        .counter-title{ font-family: 'lg_smartsemibold', sans-serif; font-size: 14px; color: #fff; text-align: left; display: block; margin-bottom: 0; }
        hgroup#counter-points h1{ font-size: 60px; color: #fff; font-family: 'liquid_crystalregular'; margin: 0; letter-spacing: 2px; text-align: center; }

  /*MIDDLE*/
  #main-middle{ position: absolute; right: 0; left: 0; top: 0; bottom: 0; height: 100%; z-index: 1; overflow: auto;}
  #main-middle .row.full-height{ height: 100%; max-width: 880px; margin: 0 auto; }
  #main-middle .row.full-height.toMaxWidth{ max-width: 1180px; /*outline: 1px solid red*/ }
  #main-middle .row.full-height.toMidWidth{ max-width: 580px; /*outline: 1px solid red*/ }
  #main-middle .row.full-height.toFluidWidth{ max-width: 100%; padding: 0 3px; }
    .to80Width{ width: 80%; }
      .to80Width.col-middle{ width: 80%; }
    .to-the-center{ text-align: center; }
    /*navi*/
      .step-lg-navi{ display: block; max-width: 260px; margin: 0 auto; }
        .step-lg-navi ul{ position: relative; text-align: left; background: url("../images/bg-step-navi.png") center center repeat-x;  display: inline; padding: 0; margin: 0; }
          .step-lg-navi ul li{ display: inline-block; list-style: none; text-align: left; vertical-align: middle; margin: 10px 20px 10px 30px; } 
            .step-lg-navi ul li span{ position: relative; display: block; text-indent: -9999px; width: 10px; height: 10px; background-color: #000000; border-radius: 5px; font-family: 'lg_smartbold_italic'; top: -1px  }
            .step-lg-navi ul li.current{ margin-right: 13px }
            .step-lg-navi ul li.current span{ width: 46px; height: 46px; color: #fff; background-color: #c20e3a; font-size: 30px; text-indent: 0; text-align: center; border-radius: 23px; padding: 2px 5px;  }
          .step-lg-navi ul li:first-child{ margin-left: 0; }
          .step-lg-navi ul li:last-child{ margin-right: 0; }
      /*CENTER BLOCK*/
      .content.to-the-center{ position: relative; z-index: 20 }
    #backimgs-campaing{ position: fixed; height: auto; width: 100%; bottom: 0; outline: 1px solid green; }
       #bg-right{ position: absolute; background: url('../images/bg-right-campaign.png'); width: 535px; height: 320px; /*float: right;*/ bottom: 25px; right: 0; z-index: -1 }
      .info-messages{ display: block; margin: 0px auto 20px; }
        .info-messages h1{ font-size: 48px; font-family: 'lg_smartbold_italic'; color: #000000; margin: 0; line-height: 0.8em; }
          .info-messages h1.big{ font-size: 63px; }
        p.info{ font-size: 18px; text-align: center; font-style: italic; color: #000; padding: 0; margin: 0; font-family: 'lg_smartbold_italic'; font-weight: normal; line-height: 0.9em; margin-top: 5px; }
          p.info strong{ font-family: 'lg_smartbold_italic'; font-weight: bold; color: #c20e3a; }
        .info-messages h4{ font-size: 37px; font-family: 'lg_smartbold_italic'; color: #000; margin-top: 0; margin-bottom: 0; }
      /*FORMS*/
        .frmLg{ margin: 20px auto; }
        .frmLg.mid-width-frm{ max-width: 550px; }
          .frmLg.large-width-frm{ max-width: 650px; }

        .frmLg fieldset{ display: block; position: relative; /*border-top: 1px dashed #ccc;*/ }
          .frmLg fieldset label{ width: 100%; }
          .frmLg .form-group{ margin-bottom: 0; }
          .form-group.has-error input{ border-color: #c20e3a !important; color:  #c20e3a !important; }
            .frmLg fieldset label input[type=text], .frmLg fieldset label input[type=email], .frmLg fieldset label input[type=date]{ width: 100%; border: 2px solid #000; padding: 3px 9px; border-radius: 0; color: #000; font-family: 'lg_smartbold_italic'; font-size: 18px; text-align: center; background-color: transparent; }
               .frmLg fieldset label input[type=text].toDate{ width: 30%; }
            .frmLg .form-control::-webkit-input-placeholder{ color: rgba(0,0,0,.5); font-family: 'lg_smartbold_italic'; font-size: 18px; text-align: center; font-weight: normal;  }
            .frmLg .form-control:-moz-placeholder { color: rgba(0,0,0,.5); font-family: 'lg_smartbold_italic'; font-size: 18px;  text-align: center; font-weight: normal; }
            .frmLg .form-control::-moz-placeholder{ color: rgba(0,0,0,.5); font-family: 'lg_smartbold_italic'; font-size: 18px;  text-align: center; font-weight: normal; }
            .frmLg .form-control:-ms-input-placeholder{ color: rgba(0,0,0,.5); font-family: 'lg_smartbold_italic'; font-size: 18px; text-align: center; font-weight: normal; }
            .frmLg fieldset.form-group{ margin: 0; padding-right: 3px; padding-left: 3px; margin-bottom: 1px }
          .frmLg textarea:focus,
          .frmLg input[type="text"]:focus,
          .frmLg input[type="password"]:focus,
          .frmLg input[type="datetime"]:focus,
          .frmLg input[type="datetime-local"]:focus,
          .frmLg input[type="date"]:focus,
          .frmLg input[type="month"]:focus,
          .frmLg input[type="time"]:focus,
          .frmLg input[type="week"]:focus,
          .frmLg input[type="number"]:focus,
          .frmLg input[type="email"]:focus,
          .frmLg input[type="url"]:focus,
          .frmLg input[type="search"]:focus,
          .frmLg input[type="tel"]:focus,
          .frmLg input[type="color"]:focus,
          .frmLg .uneditable-input:focus {
             border-color:#000;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.4);box-shadow:inset 0 1px 1px rgba(0,0,0,0.055),0 0 8px rgba(0,0,0,0.4);}
            .frmLg .col-centered{ text-align: center; }
            .frmLg fieldset label.col-xs-6, .frmLg fieldset label.col-md-6{ width: 50%; margin: 0 auto; float: initial }
              .frmLg .col-centered label{  display: block; margin-left: auto;margin-right: auto; }
              .rqrdMssg{ display: block; text-align: center; color: #c20e3a; font-size: 14px; font-family: 'lg_smartbold_italic'; margin-top: 7px; }
      /*DROPDOWN*/
        .dropDownfrm{ display: block; border: 2px solid #000; position: relative; overflow: hidden; z-index: 10; background-color: #fff;  }
          .dropDownfrm a.chssd{ display: block; background: url("../images/dropArrowFrm.png") 95% -15px no-repeat; font-family: 'lg_smartbold_italic'; font-size: 18px; padding: 3px 9px; color: #575757; -webkit-transition: none; -o-transition: none; -moz-transition: none; -ms-transition: none; transition: none;  }
             .dropDownfrm a.chssd.open{ background-position: 95% 7px; }
          .dropDownfrm ul{ display: none; width: 100%; float: left; top: 0px; position: relative; overflow: hidden;
  background-color: #fff; height: 100%; padding: 0; padding-left: 10px; }
            .dropDownfrm ul li{ display: block; list-style: none; text-align: left; } 
              .dropDownfrm ul li a{ padding: 3px 9px; color: #1a1a1a; text-decoration: none; display: block; }
                .dropDownfrm ul li a:hover{ color: #ca1642; }
              label.toDrop{ margin-bottom: 0; display: block; }
            .ckbname{ color: #000000; font-family: 'lg_smartlight'; font-size: 12px; text-align: left; }
          .form-group input[type=checkbox],  .form-group input[type=radio]{ position: absolute; }
      /*CHECKBOX*/
        .frmLg input[type=checkbox]:not(old),
        .frmLg input[type=radio]:not(old){ width: 28px; margin: 0; padding : 0; opacity: 0; }
        .frmLg input[type=checkbox]:not(old) + label, .frmLg input[type=radio]:not(old) + label{ display: inline-block; margin-left: -28px; padding-left: 28px; background: url('../images/checks-lg.png') no-repeat 0 0; line-height: 24px; }
        .frmLg input[type=checkbox]:not(old):checked + label{ background-position : 0 -24px; }
        .frmLg input[type=radio]:not(old):checked + label{ background-position : 0 -48px; }
          .termsCheckLeft{ position: relative; left: 90px; }

    /*BUTTONS*/
    .lg-Btn{ display: block; }
      .lg-Btn button{ border: none; outline: none; background: none; }
      .lg-Btn button.red-CTA{ font-family: 'lg_smartbold_italic'; font-size: 25px; text-align: center; color: #fff; background-color: #c20e3a; padding: 5px 25px; margin-top: 5px; }
       .lg-Btn button.red-CTA.fbk-icon{ background-image: url("../images/btn-fbk-ltter.png"); background-repeat: no-repeat; background-position: 20px center; padding: 2px 25px 2px 45px; }
       .lg-Btn button.red-CTA:hover{ background-color: #000000; }

    .inpt-cta{ outline: none; border: none; background-color: #000; color: #fff !important;  font-family: 'lg_smartbold_italic'; font-size: 18px; padding: 6px 15px; margin: 10px auto; }
      .inpt-cta:hover{ background-color: #c20e3a; }
      .inpt-cta.big{ background-color: #c20e3a; padding: 6px 25px; font-size: 23px; color: #fff; }
        .inpt-cta.big:hover{ background-color: #000; }
          .cta-create{ position: relative; top: -15px; left: 40px; }
     
    /*BADGES STEPPER*/
    .badges-step{ position: relative; display: block; max-width: 800px; margin: 0 auto; padding: 0 4%; }
    .badges-aside{ position: relative; display: inline-block; vertical-align: top; }
    .thumbs-badges{ display: block; text-align: center; padding: 5px 0; }
      .thumbs-badges li{ display: inline-block; list-style: none; margin: 0; padding: 0; vertical-align: top; position: relative; opacity: 1; -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); transform: scale(1);
        -webkit-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; transition:all 0.3s ease-out; }
      .thumbs-badges li img{ max-width: 100px; height: auto; display: block; cursor: pointer; }
      .thumbs-badges li:before{ position: absolute; opacity: 0; left: 5px; top: 40px; content: '';  }
      .thumbs-badges li.choosed:before{ position: absolute; width: 30px; height: 30px; background: url("../images/choose-icon.png") center center no-repeat; opacity: 1; left: 5px; top: 40px; margin-left: -2px;
          -webkit-transition:all .2s 0.3s ease-out; -o-transition:all .2s 0.3s ease-out; -moz-transition:all .2s 0.3s ease-out; -ms-transition:all .2s 0.3s ease-out; transition:all .2s 0.3s ease-out;
       }
      .thumbs-badges li.inactive{ opacity: .5; 
        -ms-transform: scale(0.8) translate3d( 0, 0, 0); -webkit-transform: scale(0.8) translate3d( 0, 0, 0); -moz-transform: scale(0.8) translate3d( 0, 0, 0); -o-transform: scale(0.8) translate3d( 0, 0, 0); transform: scale(0.8) translate3d( 0, 0, 0);
        -ms-transform-origin: center; -webkit-transform-origin: center; -moz-transform-origin: center; -o-transform-origin: center; transform-origin: center; }

      /*BADGE CONSTRUCTOR*/
      #badge-constructor{ display: block; position: relative; outline: 2px solid #000; background-color: rgba(255,255,255,.5); text-align: center; max-width: 390px; margin: 0 auto; }
        #badge-constructor img{ width:auto; position: relative; }
        #badge-constructor figcaption{ position: absolute; /*border: 1px dashed #000;*/ top: 0px; left: 0; right: 0; }
          #badge-constructor figcaption h1{ font-family: 'lg_smartbold'; font-size: 700%; text-align: center; display: block; color: #fff; /*text-shadow: 2px 4px 6px rgba(0,0,0,.2);*/ margin: 0; padding: 0; line-height: 1; padding-top: 0px; 
            text-shadow: -3px -3px 0 #000, 1px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; }
      /*DROPDWON SELECTION*/
      .dropBadgesSelection{ position: relative; right: 13%; }
        .dropBadgesSelection .dropDownfrm{ background-color: transparent; text-align: left; }
          .dropBadgesSelection .dropDownfrm a.chssd{ margin-left: 12px; color: #000; }
          .dropBadgesSelection .dropDownfrm ul{ background-color: transparent; }

    /*CONTES WITH PALIN TEXT*/
      .content-text{ display: block; max-width: 650px; margin: 0 auto; }
      .is-home .content-text{ max-width: 550px; }
        .content-text p{ color: #000000; font-family: 'lg_smartregular_italic'; font-size: 150%; line-height: 1.2em; }
        .content-text p strong{ font-family: 'lg_smartbold_italic'; }
        .content-text p.type{ font-family: 'lg_smartbold'; font-size: 16px; margin-bottom: 0; margin-top: 30px;}
        .red-text{ color: #c20e3a;  font-family: 'lg_smartbold_italic'; }
          .red-text.underline, .underline{ text-decoration: underline; }
        .content-text p.black-bg{ display: inline-block; color: #fff; font-size: 22px; font-family: 'lg_smartregular_italic'; background-color: #000; padding: 3px 5px; margin: 10px 0 15px; }

    /*INTRUCCTIONS*/
      .content-instrctns{  display: block; width: 100%; margin: 40px auto; }
        .content-instrctns .row.centered{ width:100%; }
        .content-instrctns .col-centered{ text-align: right; }
          .content-instrctns .col-centered:last-child{ text-align: center; }
      figure.fig-instruction{ display: block; }
        figure.fig-instruction h3{ display: inline-block; margin: 0; float: left; clear: both; margin-right: 10px; position: relative; top: -5px; }
          figure.fig-instruction h3 span{ width: 46px; position: relative; display: block; font-family: 'lg_smartbold_italic';top: -1px; height: 46px; color: #fff; background-color: #c20e3a; font-size: 30px; text-indent: 0; text-align: center; border-radius: 23px; padding: 6px 5px; }
           figure.fig-instruction p{ text-align: left !important; font-style: italic; color: #343434; font-family: 'lg_smartbold_italic'; font-size: 18px; line-height: 1.1em; padding: 0 10px; }
          span.info{ font-size: 15px; text-align: center; font-style: italic; color: #000; padding: 0; margin: 0; font-family: 'lg_smartbold_italic'; font-weight: normal; line-height: 0.9em; margin-top: 5px; display: block; text-align: center; padding-top: 5px; font-weight: bold; }
            span.info strong.nums{ font-size: 20px; font-weight: bold; color: #c20e3a; }

    /*THEGAME*/
      .content-field{ display: block; position: relative; }
        .content-field #game-field{ height: 400px; min-width: 650px; position: relative; /*<--- REMEMBER FIX TO MOBILE-- */ 
          background: url("../images/field-game-bg-full.png") center center no-repeat; }
          .content-field #game-field.showField:before{ position: absolute; left: 0; right: 0; width: 100%; height: 100%; content: ''; background: url("../images/field-game-show-all.png") center center no-repeat; min-height: 400px; min-width: 650px; }
          .content-field #game-field:before{ opacity: 0; 
             -webkit-transition:opacity 0.5s ease-out; -o-transition:opacity .0.5s ease-out; -moz-transition:opacity 0.5s ease-out; -ms-transition:opacity 0.5s ease-out; transition:opacity 0.5s ease-out; }
          .content-field #game-field.showField:before{ opacity: 1; -webkit-transition:opacity 0.3s ease-out; -o-transition:opacity .0.3s ease-out; -moz-transition:opacity 0.3s ease-out; -ms-transition:opacity 0.3s ease-out; transition:opacity 0.3s ease-out; }
          #game-play-field{ position: absolute; /*outline: 1px solid red;*/ width: 100%; height: 100%; opacity: 0; }
            .figPlayTeam{ /*border:1px dashed blue;*/ position: absolute; z-index: 3; width: 50px; height: 58px; background-image: url("../images/cursorPointsSprt.png"); background-repeat: no-repeat; background-position: -5px -5px; top: 50%; margin-top: -35px;  }
              .figPlayTeam.theCurrentTeam{  background-position: 95% -5px; } 
              hr.trckPth{ border: none; outline: none; position: absolute; top: 0; width: 0%; height: 100%; background-color: transparent; padding: 0; margin: 0; opacity: 0; /*outline: 1px solid green;*/ z-index: 1; }
              hr#trckPthLft.trckPth{ opacity: 1; left: 0; background: url("../images/trackPath-Teams.png") left center no-repeat; }
              hr#trckPthRgt.trckPth{ opacity: 1; right: 0; background: url("../images/trackPath-Teams.png") right center no-repeat; }
            #team-left.figPlayTeam{ left: 0; margin-left: 5px; }
            #team-right.figPlayTeam{ right: 0; margin-right: 5px; }

        .elements-field-limit{ max-width: 1030px; margin: 0 auto; position: relative; /*overflow: hidden;*/ }

          .overflowed{ overflow: hidden; }
            /*#field-center-teams.animated.growIn{ -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }*/
      .asdTeamInfo{ position: relative; display: block; }
        .asdTeamInfo .badge-avatar{ outline: none; max-width: 100%; top: 40px;   -ms-transform: scale(1);
  -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
          .asdTeamInfo .badge-avatar img{ width: 100%; } 
          .asdTeamInfo .badge-avatar figcaption{ left: 0; top: 2%; margin-top: 10%; padding-top: 5px; }
          .asdTeamInfo .badge-avatar figcaption h3{ margin: 0; 
            -ms-transform: scale(0.5); -moz-transform: scale(0.5); -webkit-transform: scale(0.5); -o-transform: scale(0.5);
  transform: scale(0.5); -ms-transform-origin: center center; -webkit-transform-origin: center center; -moz-transform-origin: center center; -o-transform-origin: center center;
  transform-origin: center center; }
           .badge-avatar figcaption.inf-team{ position: relative; line-height: 1; }
            .badge-avatar figcaption.inf-team h4{ color: #000000; font-style: bold; font-family: 'lg_smartbold_italic'; font-size: 220%; margin: 0; }
            .badge-avatar figcaption.inf-team h4 span{ color: #c20e3a; }
            .badge-avatar figcaption.inf-team h5{ font-family: 'lg_smartbold_italic'; color: #000; font-size: 18px; margin: 0;  }
              .badge-avatar figcaption.inf-team hr{ border-top: 3px solid #000; margin-top: 10px; margin-bottom: 0px; }
              .badge-avatar figcaption.inf-team h6{ font-size: 15px; font-family: 'lg_smartregular_italic'; margin: 7px 0 0; line-height: 0.9em; }

        /*TRIVIAL*/
          #trivial-items{ position: relative; display: block; }
            .trivial-slices{ display: block; width: 100%; height: 100%; position: relative; }
              .trivial-slices li{ position: absolute; /*top: 50%;*/ top: 0; list-style: none; }
              ul.trivial-questions li{ position: relative; list-style: none;  }
            .trivial-slices li.listTrivia{ position: absolute; /*visibility: hidden;*/ }
            .trivial-slices li.listTrivia.actvTrivia{ /*visibility: visible;*/ position: relative; }
            .trivial-slices li#trivial-responses.listTrivia{ display: none; }
            .trivial-slices li#trivial-responses.listTrivia #trivial-end-result, .trivial-slices li#trivial-responses.listTrivia #trivial-question-result{ display: none; }
            .trivial-slices li#trivial-responses.listTrivia.actvTrivia{ /*display: block;*/ }
                .trivial-slices li#trivial-responses.listTrivia{ position: relative; }
            .trivial-slices li .content{ position: relative; text-align: center; }
              .trivial-slices li .content h1{ display: block; text-align: left; font-family: 'lg_smartbold_italic'; font-size: 30px; color: #000; line-height: 1; }
                .trivial-slices li .content h1 span.num{ display: inline-block;  border-radius: 25px; background-color: #c20e3a; color: #fff; color: #fff; width: 30px; height: 30px; text-align: center; font-size: 22px; padding-top: 5px; margin-bottom: 15px; float: left; position: relative; margin-right: 10px; top: 3px; letter-spacing: -2px; }
                .trivial-slices li .content h1 strong{ color: #c20e3a; font-family: 'lg_smartbold_italic'; }
              .trivial-slices li .content h1.success-trivial-response, .trivial-slices li .content h1.error-trivial-response{ position: relative; padding-top: 75px; background-position: center top; background-repeat: no-repeat; margin-top: -5%; text-align: center; display: none; }
              .trivial-slices li .content h1.success-trivial-response{ background-image: url("../images/success-trivial-icon.png"); }
              .trivial-slices li .content h1.error-trivial-response{ background-image: url("../images/error-trivial-icon.png"); }
              .trivial-questions{ display: block; float: none; padding: 0; width: 90%; margin: 0 auto; }
              .trivial-questions li{ position: relative; margin: 15px auto; }
              .trivial-questions li a{ display: block; color: #000; font-family: 'lg_smartregular_italic'; font-style: italic; font-size: 18px; outline: 2px solid #000; padding: 3px 0; } 
                .trivial-questions li a:hover, .trivial-questions li a.selected{ background-color: #c20e3a; color: #fff; text-decoration: none; }
              .trivial-slices li .titles-trivial h1, .trivial-slices li .titles-trivial h3{ margin: 0; text-align: center; color: #000; font-family: 'lg_smartbold_italic'; }
                  .trivial-questions
                .trivial-slices li .titles-trivial h1{ font-size: 250%; }
                .trivial-slices li .titles-trivial h3{ font-size: 23px; font-weight: bold; }
                .trivial-slices li .titles-trivial p{ line-height: 1; color: #000; font-family: 'lg_smartregular_italic'; font-size: 140%; }
                  .trivial-slices li .titles-trivial.last p{ font-size: 120%; }
              hr.dvdrTrvlRslt{ border-top: 2px solid #000; margin: 10px auto; }
      
      /*COUNTER*/
        .timer-counter{ position: relative; display: inline-block; padding: 8px 15px 8px 22px; background-color: #2b2b2d; text-align: center; margin-bottom: 10px; margin-top: 10px; }
          .timer-counter h2{ position: relative; margin: 0 auto; font-size: 60px; color: #fff; z-index: 2; font-family: 'liquid_crystalregular'; letter-spacing: 3px; }
          .timer-counter h2.back{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: 0 auto; color: #333536; z-index: 1; margin-left: 3px; margin-top: 8px; }
        #trivial-end-result .timer-counter{ margin-top: 0; margin-bottom: 0;
          -ms-transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); -ms-transform-origin: center center; -webkit-transform-origin: center center; -moz-transform-origin: center center; -o-transform-origin: center center; transform-origin: center center; }

      /*RULLER STATUS*/
        .ruller-status{ display: block; width: 100%; margin: 15px auto 0; padding: 5px 0; background: url("../images/ruler-bg-Indiactor.png") 10px top no-repeat; text-align: center; max-width: 530px; }
          .ruller-status li{ display: inline-block; margin: 0 auto; list-style: none; margin-top: 13px; vertical-align: top;  }
          .ruller-status li span{ display: block; width: 24px; height: 24px; border-radius: 12px; background-color: #000; color: #fff; font-family: 'lg_smartbold_italic'; padding-top: 1px; font-size: 15px;  }
          .ruller-status li.activeTrivial span{ background-color: #c20e3a; font-size: 18px; width: 30px; height: 30px; border-radius: 15px; padding-top: 4px; top: -3px; position: relative; } 
          .ruller-status li:first-child{ float: left; }
          .ruller-status li:last-child{ float: right; }

      /*FIELDS GAMEPLAY COLS*/
        #field-left-team{ padding: 0; margin: 0; }
        #field-right-team{ padding: 0; margin: 0; }
        #field-center-teams{  }
        .toOpacity{ opacity: .2; -webkit-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; transition:all 0.3s ease-out; }
      /*GAME FIELD*/
        #game-field{ position: relative; }


  /*LAYOUTS: ASIDES*/
    .lists-asds{ margin: 0; padding-right: 5%; padding-left: 5px; }
    .lists-asds li{ position: relative; text-align: center; list-style: none; margin-bottom: 30px; }
      .lists-asds li p{ display: block; text-align: left; font-family: 'lg_smartbold_italic'; font-style: italic; font-size: 18px; color: #343434; line-height: 1; }
        .lists-asds li p span.num{ display: inline-block;  border-radius: 25px; background-color: #c20e3a; color: #fff; color: #fff; width: 30px; height: 30px; text-align: center; font-size: 22px; padding-top: 5px; margin-bottom: 15px; float: left; position: relative; margin-right: 10px; top: 3px; letter-spacing: -2px; }
      .conts-text h1{ display: block; text-align: left; font-family: 'lg_smartbold_italic'; font-size: 300%; color: #000; line-height: 1; margin-bottom: 15px; }

  /*PROFILE*/
    #profile-info .notification{text-align: center;width 100%; padding: 4px 12px; color: #a40735; underline: line;}
    #profile-info .notification{animation: fadeOutRight 2s; animation-delay: 6s; animation-fill-mode: forwards;}
    #profile-info .notification{-webkit-animation: fadeOutRight 2s; -webkit-animation-delay: 6s; -webkit-animation-fill-mode: forwards;}
    #profile-info .badge-avatar{ outline: none; max-width: 100%; top: 0px;  -ms-transform: scale(1);
      -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
      #profile-info .badge-avatar img{ width: 100%; } 
          #profile-info .badge-avatar figcaption{ left: 0px; top: -29px; margin-top: 1%; padding-top: 5px; }
          #profile-info .badge-avatar figcaption h3{ margin: 0; 
            -ms-transform: scale(0.25); -moz-transform: scale(0.25); -webkit-transform: scale(0.25); -o-transform: scale(0.25);
  transform: scale(0.25); -ms-transform-origin: center center; -webkit-transform-origin: center center; -moz-transform-origin: center center; -o-transform-origin: center center; transform-origin: center center; }
    .inf-team h1, .inf-team h4, .inf-team h5, .inf-team h6{ text-align: left; margin: 0; }
    .asdTeamInfo .inf-team h1, .asdTeamInfo .inf-team h4, .asdTeamInfo .inf-team h5, .asdTeamInfo .inf-team h6{ text-align: center; }
      .inf-team h1{  font-family: 'lg_smartbold_italic'; font-size: 300%; color: #000; margin-top: 15px; }
      .inf-team h1 span{ color: #c20e3a; }
      .inf-team h4{ color: #000000; font-family: 'lg_smartregular_italic'; margin: 0; font-size: 16px; }
      .subTitle{ font-family: 'lg_smartbold_italic'; font-size: 200%; color: #000; }
        .subTitle .toBig{ font-size: 200%; position: relative; top: 7px; color: #c20e3a; }
        .subTitle .pipeDvdr{ display: inline-block; margin: 0 13px; }
      .subtiles{  font-family: 'lg_smartbold_italic'; font-size: 160%; color: #000; text-align: left; margin: 0; }
      .converters{ display: block; text-align: center; padding: 5px 0; margin-top: 5px; margin-bottom: 10px }
        .converters li{ list-style: none; text-align: center; display: inline-block; font-size: 13px; font-family: 'lg_smartregular'; color: #000; margin: 5px 10px; }
      .tbl-lg-profile{ position: relative; width: 100%; margin-top: 5px; }
        .tbl-lg-profile thead{ border: none; outline: none;  }
        .tbl-lg-profile thead th{ background-color: #c20e3a; color: #fff; font-size: 18px; color: #fff; font-family: 'lg_smartbold'; text-align: center; padding: 3px 0 0; width: 25%; text-transform: uppercase;  border:3px solid #fff; border-top-style: hidden; border-bottom: none; }
        .tbl-divdr{ height: 2px; border: none; background-color: #000; display: block; width: 100%;  }
        .tbl-lg-profile thead th:first-child{ border-left: none; }
        .tbl-lg-profile thead th:last-child{ border-right: none; }
        .tbl-lg-profile thead.toLastBlack th{ width: 22%; }
        .tbl-lg-profile thead.toLastBlack th:last-child{ background-color: #000; width: 32%;  }
        .tbl-lg-profile tbody:before { content: ""; display: block; line-height: 2px; height: 4px; color: transparent; }
        .tbl-lg-profile tbody tr{ }
          .tbl-lg-profile tbody td{ border:1px solid #000; font-family: 'lg_smartregular'; color: #000; font-size: 16px; font-weight: bold; }
        .info-charts{ margin-top: 40px; }
        .info-charts h2{ margin-bottom: 20px }
        .fig-the-chart{ width: auto; height:  auto; position: relative; display: inline-block; min-width: 147px; min-height: 147px; color: #000000; font-size: 250%;  font-family: 'lg_smartbold_italic'; margin: 0 2%;  }
          .fig-the-chart.bgChart{ background: url("../images/pie-bg-indicator.png") center top no-repeat; }
            .fig-the-chart span.minTxt{ font-size: 50%; position: absolute; left: 0; right: 0; top: 20px; }
            .fig-the-chart figcaption{ font-size: 16px; color: #fff; position: absolute;  background-color: #000; padding: 5px 10px;  font-family: 'lg_smartregular_italic'; bottom: 0; left: 0; right: 0; margin: -45px 5px; }

      /*SHARE MOBILE POINT*/
        .share-figure{ position: relative; display: inline-block; margin: 0 auto; outline: 3px solid #000; }
      /*SHARE CONFIRM*/
        .info-matchs-leg{ display: inline-block; color: #000; font-family: 'lg_smartbold'; font-size: 18px; color: #000; text-align: left;  line-height: 1;  }
          .info-matchs-leg span{ position: relative; float: left; font-size: 60px; font-family: 'lg_smartbold'; color: #fff; background-color: #c20e3a; text-align: center; margin-right: 10px; position: relative; padding: 13px 20px; margin-bottom: 0; max-height: 70px; } 
          .info-matchs-leg span:after{ position: absolute; right: -7px; top: 15px; content: ''; width: 9px; height: 16px; background: url('../images/corner-uggly.png') center center no-repeat; }

  /*ELEMNTS CAMPAIGNS*/
  #campaigns-elmnts{ position: fixed; bottom: 0; width: 100%; }
    #bg-add-center{ display: block; margin: 0 auto; text-align: center; }
      #bg-add-center img{ margin-bottom: 15px; }
        .legals-message{ position: absolute; bottom: 15px; left: 0; right: 0; text-align: center; font-size: 12px; color: #fff; text-shadow:1px 1px 1px rgba(0,0,0,.7); margin: 0 auto; line-height: 1; font-family: 'lg_smartlight'; }
    #bg-add-left{ display: block; text-align: left; }
      #bg-add-left img{ margin-bottom: 15px; margin-left: 10%; }
  /*FOOTER*/
   #footLgDads{ display: block; width: 100%; position: fixed; bottom: 0; left: 0; right: 0; padding-top: 0px; z-index: 1; }
     #footLgDads .container{ width: 100%; }
       p.copy{ text-align: right; font-size: 11px; font-family: 'Arial', sans-serif; color: #fff; line-height: 0.9em; margin: 10px; text-shadow: 1px 1px 2px rgba(0,0,0,.5);  }
       p.copy a{ font-weight: bold; color: #fff; text-decoration: underline; padding-bottom: 5px; }
        p.copy a:hover{ color: #c20e3a; text-shadow: none; }
      p.copy a.iconNet{ position: relative; top: 0; margin: 0 3px; }

  .shdwInst{ -o-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -ms-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -webkit-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -moz-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.28); box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); }

  /*OVERLAY MOBILE*/
    #mobile-overlay{ display: none; background-color: rgb(245,245,245); position: fixed; top: 0; left: 0; width: 100%; bottom: 0; background-repeat: no-repeat; background-position: 50%; z-index: 99; -ms-touch-action: none; touch-action: none; }
    #mobile-overlay .mobile-message{ display: none; background: url("../images/turn-mobile.png") center center no-repeat; width: 170px; height: 100px;  position: absolute; top: 50%;  left: 50%; margin-top: -85px;  margin-left: -85px; }
    #mobile-overlay .tablet-message{ display: none; background: url("../images/turn-tablet.png") center center no-repeat; width: 300px; height: 200px;  position: absolute; top: 50%;  left: 50%; margin-top: -150px;  margin-left: -150px;  }
   

  /*SIDER*/
    .sidr{ /*width: 90%;*/ width: 460px; }
    #sider-cta{ position: absolute; left: 0; bottom: 0; z-index: 30 }
      #sidr .container{ max-width: 450px; }
      #sidr #blckbox-campaign{ overflow: hidden; height: 100%; }
      #sidr #lg-campaign-headlogo/*, #sidr #lg-main-logo*/{ position: relative; }
      #sidr #blckbox-campaign .row [class*="col-md"]{ border-left: none; }
      #sidr #blckbox-campaign .avatars{ border-left: none; border-left: none; border-bottom: 1px solid #ccc; left: 0; padding-left: 35px; margin-bottom: 5px; }
        #sidr #teamBadgehead h4.full-title-team{ bottom: 0px; }
      #sidr #teamBadgehead{ overflow: hidden; min-height: 110px }
        #sidr .ctas-menu,  #sidr .counter{  border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 10px; }


/*WebKit Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) { }
/*Tablet & Mobile*/
@media only screen and (max-width:481px) {
  #head-dads{ display: block; }
  .is-home #lg-campaign-headlogo{ display: block; }
  .main-intro-logo{ display: none; }
  #bg-right{ opacity: .1; }
  #bg-add-left{ display: none; }
  #bg-right{ background-size: 70% auto; background-repeat: no-repeat; background-position: right bottom;  }
  div#trivial-end-result .timer-counter{ display: none; }
  #footLgDads{background-color: #fff; background-color: rgba(255,255,255,.35);}
    p.copy,p.copy a{text-shadow: 0 0 2px black;}
}
@media only screen and (max-width: 560px) and (orientation: portrait){
#mobile-overlay { display: block; }
  #mobile-overlay .mobile-message{ display: block; }
  body{ overflow: hidden; }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
  #main-middle, .content.to-the-center{padding-bottom: 45px;}
}
@media only screen and (max-width: 480px) and (orientation: portrait){
  #main-middle, .content.to-the-center{padding-bottom: 45px;}
}

@media only screen and (min-width:481px) and (max-width:768px) {  
  .timer-counter{ position: absolute; right: 2%; top: -3px;
      -ms-transform: scale(0.6) translate3d( 0, 0, 0); -webkit-transform: scale(0.6) translate3d( 0, 0, 0); -moz-transform: scale(0.6) translate3d( 0, 0, 0); -o-transform: scale(0.6) translate3d( 0, 0, 0); transform: scale(0.6) translate3d( 0, 0, 0);
        -ms-transform-origin: right top; -webkit-transform-origin: right top; -moz-transform-origin: right top; -o-transform-origin: right top; transform-origin: right top;  }
  .trivial-slices li.listTrivia.triviaQuestion .content h1{ font-size: 20px; padding-right: 15%; }
    .ruller-status{ display: none; }
    #trckPthLft.trckPth{ padding-left: 1%; }
    #trckPthRgt.trckPth{ padding-right: 1%; }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { height: 290px; } /* your css rules for ipad portrait */
  #mobile-overlay { display: block; }
  #mobile-overlay .tablet-message{ display: block; }

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { height: 360px;} /* your css rules for ipad landscape */
}

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
/* keep full widget on smaller screens */
@media (min-width: 768px) {
  .col-sm-height { display: table-cell; float: none !important; }
}
@media (max-width: 767px) {
  body { padding-left: 0; padding-right: 0; }
    .termsCheckLeft{ left: 0; }
         .asdTeamInfo .badge-avatar{ -ms-transform: scale(0.9) translate3d( 0, 0, 0); -webkit-transform: scale(0.9) translate3d( 0, 0, 0); -moz-transform: scale(0.9) translate3d( 0, 0, 0); -o-transform: scale(0.9) translate3d( 0, 0, 0); transform: scale(0.6) translate3d( 0, 0, 0); -ms-transform-origin: center; -webkit-transform-origin: center; -moz-transform-origin: center; -o-transform-origin: center; transform-origin: center; }
  /*#blckbox-campaign .avatars{ left: 0; }*/


}

@media (max-width: 979px) {
  #head-dads{ display: none; }
  #sidr #head-dads{ display: block; }
  .off-set-0, .off-set-5, .off-set-10, .off-set-15, .off-set--5, .off-set--10, .off-set--12, .off-set--15{ margin-top: 0%; }
  #bg-right{ opacity: .5 }  
  p.info{ margin-top: 15px; }
  .dropBadgesSelection{ right: 0%; }
  .dropBadgesSelection .dropDownfrm{ max-width: 250px; margin: 0 auto; }
  .cta-create{ top: 0; left: 0; margin: 25px auto }
  p.copy{ text-align: center; }
    p.copy a:first-child{ display: inline-block; }
  .badges-aside{ background-color: rgba(255,255,255,.5); padding: 15px 20px; }
  .lg-Btn button.red-CTA{ font-size: 18px; } 
    /*GAMEPLAY*/
      #field-left-team{ position: absolute; left: 0; z-index: -1; }
      #field-right-team{ position: absolute; right: 0; z-index: -1; }
      .content-field #game-field{ width: 100%; max-width: 588px; min-height: 300px; max-height: inherit; min-width: inherit; background-size: 100% 100%; }
      .content-field #game-field.showField:before{ max-width: 588px; min-height: 300px; max-height: inherit; min-width: inherit; background-size: cover; }
      hr#trckPthLft.trckPth, hr#trckPthRgt.trckPth{ background-size: cover; }
}

@media only screen and (min-width:769px) {
  
}
@media (max-width: 1024px) {
 .main-intro-logo{ max-width: 40%; }
 .info-messages h1.big{ font-size: 63px; }
 .content-text p{ font-size: 100%; }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
  aside.col-xs-12.col-md-4{ max-width: 400px; }
}

