body.iscountdown .timer-counter{
    visibility: hidden;
}

.father-photo-feddback{

    font-size: 14px;
}

#teamBuilderEntityNav{

    margin-bottom: 30px;
}

.paint-it-red{
    color:#A40735;
}

.success-txt{
    color:#3c763d;
}

#matchNotification{

}

#randomPlayer{
  font-size: 16px;
  color: #fff;
  background-color: #c20e3a;
  padding: 5px 10px;
  font-family: 'lg_smartregular_italic';
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  margin: 9px auto;
  font-weight: bold;
}